name: 'C++ CI'

on:
  push:
    branches: ['lab*']

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v3

      - name: Clean build directory
        run: rm -rf build/

      - name: Configure
        run: cmake -B build

      - name: Build
        run: cmake --build build

      - name: Run tests
        run: ctest --test-dir build --verbose --output-on-failure