name: 'C++ CI'

on:
  push:
    branches: ['lab*']

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive  # Важно для Git-зависимостей

      - name: Install Ninja (Windows)
        if: matrix.os == 'windows-latest'
        run: choco install ninja -y

      - name: Install Ninja (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install -y ninja-build

      - name: Clean build directory
        run: rm -rf build/

      - name: Configure with Ninja
        run: cmake -G "Ninja" -B build

      - name: Build with Ninja
        run: cmake --build build

      - name: Run tests
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            ./build/gtest_tests/GTestTests.exe
          else
            ./build/gtest_tests/GTestTests
          fi