name: 'C++ CI'

on:
  push:
    branches: ['lab*']

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      
      # Установка зависимостей
      - name: Install Windows dependencies
        if: matrix.os == 'windows-latest'
        run: |
          # Устанавливаем vcpkg и Boost
          git clone https://github.com/Microsoft/vcpkg.git
          .\vcpkg\bootstrap-vcpkg.bat
          .\vcpkg\vcpkg install boost-test:x64-windows
          echo "VCPKG_ROOT=$env:GITHUB_WORKSPACE\vcpkg" >> $env:GITHUB_ENV
          choco install gh -y
      
      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install libboost-test-dev -y
      
      # Сборка
      - run: cmake . -DPATCH_VERSION=${{ github.run_number }}
      - run: cmake --build .
      
      # Запуск тестов
      - run: ctest --verbose --output-on-failure
      
      # Создание релиза
      - name: Create Release with gh
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            gh release create win-build-${{ github.run_number }} \
              --title "Windows Build ${{ github.run_number }}" \
              ./Debug/helloworld_cli.exe ./Debug/test_version.exe
          else
            gh release create linux-build-${{ github.run_number }} \
              --title "Linux Build ${{ github.run_number }}" \
              helloworld_cli test_version
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}