name: 'C++ CI'

on:
  push:
    branches: ['lab*']

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      
      # УСТАНОВКА ЗАВИСИМОСТЕЙ
      - name: Install Windows dependencies
        if: matrix.os == 'windows-latest'
        run: |
          choco install boost-msvc-14.3 -y
          choco install gh -y
          echo "C:\Program Files\Boost\lib" >> $env:GITHUB_PATH
      
      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install libboost-test-dev -y
      
      # СБОРКА
      - run: cmake . -DPATCH_VERSION=${{ github.run_number }}
      - run: cmake --build .
      - run: ctest --verbose
      
      # СОЗДАНИЕ РЕЛИЗА ПРЯМО ЧЕРЕЗ GH С БИНАРНИКАМИ
      - name: Create Release with gh
        if: success() && matrix.os == 'windows-latest'
        run: |
          gh release create win-build-${{ github.run_number }} \
            --title "Windows Build ${{ github.run_number }}" \
            ./Debug/helloworld_cli.exe ./Debug/test_version.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release with gh
        if: success() && matrix.os == 'ubuntu-latest'
        run: |
          gh release create linux-build-${{ github.run_number }} \
            --title "Linux Build ${{ github.run_number }}" \
            ./helloworld_cli ./test_version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}