name: 'C++ CI'

on:
  push:
    branches:
      - 'lab*'   #замена ветки, на рабочую

jobs:
  build:
    strategy:
      matrix: 
        os: [ubuntu-latest, windows-latest] #Linux и Windows
    runs-on: ${{matrix.os}}
    permissions: 
      contents: write
    
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install Boost(Linux)
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install libboost-test-dev -y
      
      - name: Install Boost(Windows)
        if: matrix.os == 'windows-latest'
        run: |
          choco install boost-msvc-14.3 -y
          echo "BOOST_ROOT=C:\local\boost_1_82_0" >> $GITHUB_ENV
          echo "BOOST_LIBRARYDIR=C:\local\boost_1_82_0\lib64-msvc-14.3" >> $GITHUB_ENV

      - run: cmake . -DPATCH_VERSION=${{ github.run_number }}
      - run: cmake --build .
      
      - name: Copy Boost DLLs (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          copy "C:\local\boost_1_82_0\lib64-msvc-14.3\*.dll" ${{github.workspace}}\
      
      - name: Run Tests
        run: ctest --verbose

      #только для Линукса
      - run: cmake --build . --target package
        if: matrix.os == 'ubuntu-latest'

      - name: Create Release
        if: matrix.os == 'ubuntu-latest'
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          release_name: Release ${{ github.run_number }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        if: matrix.os == 'ubuntu-latest'
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./helloworld-0.0.${{ github.run_number }}-Linux.deb
          asset_name: helloworld-0.0.${{ github.run_number }}-Linux.deb
          asset_content_type: application/vnd.debian.binary-package